/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Break here you bastards!*/

body {
	padding: 40px 60px;
	background-color: #2952a3;
}
header {
	background-color: black;
	padding: 10px 10px;
	border-radius: 10px 10px 0 0;
	border-bottom: 5px groove #33adff;
}
main {
	background-color: #99bbff;
	text-align: center;
	position: relative;
	padding: 70px 20px;
	border-radius: 0 0 10px 10px;
}
h1 {
	font-size: 32px;
	font-weight: bold;
	color: white;
}
div {
	display: inline-block;
}
.previous, .next, .current {
	display: inline-block !important;
	text-align: center;
	border-radius: 20px;
}
.previous {
	color:white;
	position: absolute;
	left: 10px;
	padding: 20px;
	border: 3px outset #99b3ff;
	height: 28px;
	background-color: #999999;
}
.next {
	color: white;
	position: absolute;
	right: 10px;
	padding: 20px;
	border: 3px outset #99b3ff;
	height: 28px;
	background-color: #999999;
}
.current {
	padding: 20px;
	width: 60%;
}
h2 {
	font-weight: bold;
	font-size: 20px;
	margin: 5px auto 10px auto;
	border: 3px inset #99b3ff;
	padding: 4px;
	border-radius: 7px;
	background-color: #ffdab3;
	display: inline-block;
}
span {
	border: 3px inset #99b3ff;
	padding: 3px;
	border-radius: 7px;
	background-color: white;
}

